* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.app {
  background-color: #fafafa;
}
.app-title {
  text-align: center;
  padding-top: 20px;
}
.app-header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 1.25em 1.25em 0.75em;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}
.app-header img {
  height: 2.5rem;
  width: auto;
}
.modal-header-image {
  height: 2.5rem;
  width: auto;
  padding: 0 1.25em 0.5em;
}
.app-signup {
  display: flex;
  flex-direction: column;
}
.app-posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app-login-container {
  margin-right: 2rem;
}
.app-posts-right {
  margin-left: 20px;
}
.image-upload-title {
  font-size: 2rem;
  padding: 20px;
  text-align: center;
}
.image-upload-box {
  width: 325px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-bottom: 45px;
}
