.post {
  max-width: 500px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-bottom: 45px;
}
.post-image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-top: 1px solid lightgray;
}
.post-details {
  font-weight: normal;
  padding: 1.125rem;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 1.125rem 0.625rem;
}
.post-avatar {
  margin-right: 0.625rem;
}
.post-comment-box {
  display: flex;
  justify-content: space-between;
  padding: 3px 18px 18px 18px;
}
.post-comment-input {
  width: 100%;
}
.post-comments {
  padding: 0px 20px 18px 40px;
}
